.container {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  gap: 0.75rem;

  padding: 0.75rem;
}

.header-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: bold;
}
