.container {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  gap: 0.75rem;

  padding: 0.75rem;
}

.header-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;

  border: 1px solid #d1d1d1;
  border-radius: 0.5rem;

  font-size: 1rem;
  color: #333;

  background: #fafafa;
  transition: all 0.2s ease;
}

.input::placeholder {
  color: #999;
}

.submit {
  width: 100%;

  padding: 0.75rem;

  color: white;
  background-color: lightskyblue;

  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}
