.container {
  width: 100%;

  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0.5rem 1rem;

  font-size: 2rem;
  font-weight: bold;
}

.content {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
