.container {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
  padding: 1.5rem 1rem;

  flex-grow: 1;
  background: linear-gradient(90deg, #e2e2e2 0%, #f4f4f4 50%, #e2e2e2 100%);
  background-size: 200% 100%;
  border-radius: 4px;
  animation: shimmer 1.2s infinite;

  border-radius: 0.5rem;
  border: 1px solid lightgray;

  gap: 1rem;
}

.sm {
  height: 12px;
}

.md {
  height: 16px;
}

.lg {
  height: 22px;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
