* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.view-picker {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.view-picker button {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  transition: 0.2s;
}

.view-picker button:hover {
  background: #ddd;
}

.content {
  margin-top: 20px;
}
